<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunLive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEF1FE121DD99EB70036F144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF1FE291DD99EB70036F144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF1FE341DD99EB70036F144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
